

<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="main_mix_content text-center sections">
        <div class="head_title">
          <h2>OUR GALLERY</h2>
        </div>
        <div class="main_mix_menu">
          <ul>
            <li class="btn btn-primary filter" data-filter="all">STARTERS</li>
            <li class="btn btn-primary filter" data-filter=".cat1">DRINKS</li>
            <li class="btn btn-primary filter" data-filter=".cat2">MAIN COURSE</li>
            <li class="btn btn-primary filter" data-filter=".cat3">BREAD</li>
            <li class="btn btn-primary filter" data-filter=".cat4">DESSERT</li>
            <li class="btn btn-primary filter" data-filter=".cat5">STREET FOOD</li>
          </ul>
        </div>

        <div id="mixcontent" class="mixcontent">
          <div class="col-md-4 mix cat1 cat5 no-padding">
            <div class="single_mixi_portfolio">
              <%= image_tag asset_path("st-1.jpg") %>
              <div class="mixi_portfolio_overlay">
                <div class="overflow_hover_text">
                  <h2>INGREDIENTS</h2>
                  <p>ARE IMPORTANT FOR COOKING ?</p>
                  <a href=""><i class="lnr lnr-plus-circle"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mix cat2 cat5 no-padding">
            <div class="single_mixi_portfolio">
              <%= image_tag asset_path("st-2.jpg") %>
              <div class="mixi_portfolio_overlay">
                <div class="overflow_hover_text">
                  <h2>INGREDIENTS</h2>
                  <p>ARE IMPORTANT FOR COOKING ?</p>
                  <a href=""><i class="lnr lnr-plus-circle"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mix cat1 cat4 no-padding">
            <div class="single_mixi_portfolio">
              <%= image_tag asset_path("st-3.jpg") %>
              <div class="mixi_portfolio_overlay">
                <div class="overflow_hover_text">
                  <h2>INGREDIENTS</h2>
                  <p>ARE IMPORTANT FOR COOKING ?</p>
                  <a href=""><i class="lnr lnr-plus-circle"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mix cat3 cat4 cat5 no-padding">
            <div class="single_mixi_portfolio">
              <%= image_tag asset_path("st-4.jpg") %>
              <div class="mixi_portfolio_overlay">
                <div class="overflow_hover_text">
                  <h2>INGREDIENTS</h2>
                  <p>ARE IMPORTANT FOR COOKING ?</p>
                  <a href=""><i class="lnr lnr-plus-circle"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mix cat4 cat5 no-padding">
            <div class="single_mixi_portfolio">
              <%= image_tag asset_path("st-5.jpg") %>
              <div class="mixi_portfolio_overlay">
                <div class="overflow_hover_text">
                  <h2>INGREDIENTS</h2>
                  <p>ARE IMPORTANT FOR COOKING ?</p>
                  <a href=""><i class="lnr lnr-plus-circle"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mix cat1 cat2 cat5 no-padding">
            <div class="single_mixi_portfolio">
              <%= image_tag asset_path("st-6.jpg") %>
              <div class="mixi_portfolio_overlay">
                <div class="overflow_hover_text">
                  <h2>INGREDIENTS</h2>
                  <p>ARE IMPORTANT FOR COOKING ?</p>
                  <a href=""><i class="lnr lnr-plus-circle"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="portfolio_btn_area">
            <a href="" class="btn btn-md">LOAD MORE</a>
          </div>
          <div class="gap"></div>
        </div>
      </div>
    </div>
  </div>
</section> <!-- End of portfolio two Section -->